.indicator {
  display: inline-block;

  @media screen and (min-width: 500px) {
    width: 70%;
  }

  @media screen and (min-width: 992px) {
    width: 40%;
  }

  &--bg {
    stroke: $light-grey;
  }

  &--text {
    font-size: 0.22em;
    font-weight: bold;
    text-anchor: middle;
    fill: $primary-color;
  }

  &__progress {
    transform-origin: center;
    animation-timing-function: linear;

    &--inhale {
      stroke: $primary-color;
      transform: rotate(-90deg);
    }

    &--exhale {
      stroke: $secondary-color;
      transform: rotate(90deg);
    }
  }
}